.layout {
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-top: 19px;
}

.container {
  padding: 0 17px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  color: #1256d7;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-bottom: 23px;

  &::before {
    display: inline-block;
    content: "";
    margin-right: 12px;
    width: 5px;
    height: 40px;
    background-color: #1256d7;
    border-radius: 0 15px 15px 0;
  }
}

.separator {
  display: block;
  height: 1px;
  background-color: #afaeb2;
}
