.layout {
  background: var(--primary-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin-left: 15px;
  padding-top: 19px;
}

.container {
  padding: 0 17px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
