.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin-right: 17px;
}

.title {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-bottom: 23px;

  &::before {
    display: inline-block;
    content: "";
    margin-right: 12px;
    width: 5px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 0 15px 15px 0;
  }
}

@media screen and (max-width: 485px) {
  .heading {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
