.container {
  display: flex;
  align-items: self-start;
  gap: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 17px;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userName {
  display: flex;
  align-items: center;
  gap: 15px;
}

.name {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}

.writtenAt {
  color: var(--label-color);
  font-size: 14px;
  font-weight: 40;
}

.text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 15px;

  button {
    display: flex;
    gap: 4px;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--label-color);
    stroke: var(--label-color);
  }
}
