.switchTheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  stroke: var(--secondary-text-color);
}
