.switchTheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  stroke: #717171;
}
