.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.textArea {
  padding: 10px;
  border: 1px solid #afaeb2;
  font-size: 14px;
  font-weight: 500;
  resize: none;
  background-color: transparent;
}
