.input {
  opacity: 1;
  border: 1px solid #afaeb2;
  padding: 14px 10px;
  width: 425px;
  border-radius: 4px;
  color: var(--text-color);
  background-color: transparent;
}

.input[type="password"] {
  font-weight: 600;
}
