.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #afaeb2;
  padding-left: 17px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: ease all 0.4s;

  &:hover {
    background-color: var(--menu-hover-color);
    border-radius: 0 10px 10px 0;
  }
}

.linkIcon,
.theme {
  display: flex;
  align-items: center;
  stroke: var(--secondary-text-color);
  color: var(--secondary-text-color);
  gap: 10px;
  padding: 10px 20px 10px 50px;
}

.theme {
  display: none;
  padding: 10px 0 10px 50px;
  justify-content: space-between;
}

.active {
  background-color: var(--menu-active-background-color);
  border-radius: 0 10px 10px 0;
  .linkIcon {
    color: var(--secondary-color);
    stroke: var(--secondary-color);
  }
}

.messages {
  color: var(--notification-text-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--notification-background-color);
  padding: 5px 10px;
  margin-right: 5px;
}

.separator {
  height: 1px;
  background-color: #afaeb280;
  margin-left: 17px;
}
