.profileInfo {
  margin-top: 24px;
  padding: 0 17px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 90px;
}

.title {
  color: #afaeb2;
  font-size: 20px;
  font-weight: 500;
}

.profile {
  display: flex;
  gap: 5px;
}

.profileName {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.email {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
}

.logout {
  border: none;
  border-radius: 10px;
  background-color: vaR(--logout-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  stroke: var(--text-color);
  padding: 7px;
  transition: ease all 0.4s;
  cursor: pointer;
  color: var(--text-color);

  span {
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--logout-hover-color);
  }
}
