.profileInfo {
  margin-top: 24px;
  padding: 0 17px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: #afaeb2;
  font-size: 20px;
  font-weight: 500;
}

.profile {
  display: flex;
  gap: 5px;
}

.profileName {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 16px;
  font-weight: 500;
}

.email {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
}

.logout {
  border: none;
  border-radius: 10px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  stroke: #000;
  padding: 7px;
  transition: ease all 0.4s;
  cursor: pointer;

  span {
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    background-color: #a3b7ff;
  }
}
