.message {
  padding: 17px;
  background-color: var(--primary-color);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

.date {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
}

.content {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
}
